# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Test

on:
  push:
    branches: [main]
    paths-ignore:
      - '*.md'
      - '*.rst'
  pull_request:
    branches: [main]
    paths-ignore:
      - '*.md'
      - '*.rst'
     
jobs:
  test:

    runs-on: ubuntu-20.04

    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, 3.9]

    steps:

    - uses: actions/checkout@v2

    - name: Cache Setup
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
            ${{ runner.os }}-pip-

    - name: Setup RabbitMQ
        continue-on-error: true
        run: |
            sudo apt-get install --assume-yes rabbitmq-server

    - name: Start RabbitMQ
        run: |
            sudo service rabbitmq-server restart

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install poetry
        uses: abatilo/actions-poetry@v2.0.0

    - name: Install dependencies
        run: |
          python -m pip install --upgrade pip wheel setuptools
          poetry install
        
    - name: Lint with flake8
      run: |
        pip install flake8
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --show-source --statistics

    - name: Lint with isort
      run: |
        pip install isort
        isort -c .

    - name: Test with pytest
      run: |
        pip install pytest pytest-cov pytest-asyncio pytest-mock asynctest pytest-sugar python-rabbitmq
        pip install coverage[toml]
        pytest

    # - name: Upload coverage to Codecov
    #   if: matrix.python-version == '3.8'
    #   uses: codecov/codecov-action@v1
    #   with:
    #     file: ./coverage.xml
